{% extends 'htmls/main.html' %}

{% block content %}
<p>Пользователь {{ user }}</p>
<p>Пароль {{ user.password }}</p>
{% endblock %}

{% block login %}
<div id="log">
<p>Редактирование</p>
<form method="post">  
    {% csrf_token %}  
    {% if form.non_field_errors %}  
        <div class="alert alert-danger">  
            {{ form.non_field_errors }}  
        </div>  
    {% endif %}  
    {% for field in form %}  
        <p class="form-label">{{ field.label }}</p>  
        <p>{{ field }}</p>  
    {% endfor %}  
    <button type="submit" class="btn btn-outline-success">Сохранить</button>  
    <a href="/">Отмена</a> 
</form>
</div>
{% endblock %}